/* registration.html */
:root {
  --bg-color: #333;
  --text-color: #F4EFEC;
  --main-color: #618F53;
  /* Цвет кнопок, option и т.п */
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: all 0.3s ease;
}

h2{
  color: var(--text-color) !important;
}

.registration {
  background-color: #3E3D3D;
}

.logo {
  background-image: url(../img/logo_green.svg);
}

.name {
  color: var(--text-color);
}

.text_choice {
  color: var(--text-color);
}

.choices__inner {
  background-color: #545353 !important;
}

.choices.is-open {
  background-color: #545353;
}

.choices__list--dropdown, .choices__input--cloned {
  background-color: #545353 !important;
  color: var(--text-color);
}

.choices__list--dropdown .choices__item--selectable.is-highlighted {
  background-color: var(--main-color);
}
.choices:focus {
  -webkit-tap-highlight-color: var(--main-color);
}
@media (hover: none)
{
  .choices__list--dropdown .choices__item--selectable.is-highlighted 
  {
    background-color: #545353;
  }
}
.choices[data-type*=select-one]:after {
  width: 10px;
  height: 10px; 
  z-index: 3;
  top: 40%;
  border: 1px solid #fff;
  border-width: 0 0 1px 1px;
  transform: rotate(-45deg);
}

.choices[data-type*=select-one].is-open:after {
  top: 60%;
  border: 1px solid #fff;
  border-width: 1px 1px 0 0;
}
.further {
  background-color: #618F53;
  color: var(--text-color);
}

/* authorization.html */

.authorization {
  background-color: #3E3D3D;
}

.name {
  color: var(--text-color);
}

.input_box input {
  color: var(--text-color);
  border-bottom: 2px solid #5F5E5E;
}

.input_box input:focus {
  border-color: var(--main-color);
}

.login {
  background-image: url(../img/login_green.svg);
}

.password {
  background-image: url(../img/padlock_green.svg);
}

.pw_hide {
  background-image: url(../img/hide_white.svg);
}

.pw_visible {
  background-image: url(../img/visible_white.svg);
}

.sign_up, .back {
  background-color: var(--main-color);
  color: var(--text-color);
}

/* my-schedule-student.html */

.name-site {
  color: var(--text-color);
}

.links-li {
  color: var(--text-color);
}

.exit {
  color: var(--text-color);
}

.links-li:hover,
.exit:hover {
  color: var(--main-color);
}

.sun {
  background-image: url(../img/sun_white.svg);
}

.sun:hover, .sun:active {
  background-image: url(../img/sun_green.svg);
}

.icon[data-theme='light'] {
  display: block;
}

.icon[data-theme='dark'] {
  display: none;
}

.link-pagination,
.group-pagination {
  color: var(--text-color);
}

.link-pagination:hover,
.group-pagination:hover {
  background-color: var(--main-color);
}

.add,
.edit,
.delete,
.delete_all,
.edit_bell {
  color: var(--text-color);
}

.add, .edit_add, .admin_add, .admin_up  {
  background-color: var(--main-color);
  color: #fff;
}

.edit {
  background-color: #677835;
}

.delete {
  background-color: #783535;
}

.delete_all {
  background-color: #531515;
}
.edit_bell
{
  background-color: #878D90;
}
.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after
{
  background-color: #ECEFF1;
}
.menu__box {
  background-color: #333;
}
.menu__item
{
  color: #fff;
}
.error
{
  color: #618F53;
}

.btn_sort,
.btn_sort_data
{
  color: var(--text-color);
}
.techer {
  color: var(--text-color);
}

.techer:hover,
.techer:focus {
  color: var(--main-color);
}
.exit_mobile
{
  color: var(--text-color);
}
.bell
{
  color: var(--text-color);
  border-bottom: 1px solid #FFF;
  transition: all .3s ease;
}
.bell:focus
{
  padding-bottom: 8px;
  border-color: var(--main-color);
  transition: all .3s ease;
}
.succes-2
{
  background-color: var(--main-color);
  color: #fff;
}
h1 {
  color: var(--text-color);
}

table {
  border: 1px solid var(--text-color);
}

thead {
  background-color: var(--main-color);
}

th,
td {
  border: 1px solid var(--text-color);
}
table tr {
  border-bottom: 1px solid var(--text-color);
}

