/* registration.html */
:root {
  --bg-color: #EDEEF0;
  --text-color: #000;
  --main-color: rgba(98, 0, 238, 0.63);
  /* Цвет кнопок, option и т.п */
}

body {
  background-color: var(--bg-color);
  transition: all .3s ease;
}

.registration {
  background-color: #fff;
}

.logo {
  background-image: url(../img/logo_purple.svg);
}

.name {
  color: var(--text-color);
}

.text_choice {
  color: var(--text-color);
}

.choices__inner {
  background-color: var(--bg-color);
}

.choices.is-open {
  background-color: var(--bg-color);
}

.choices__list--dropdown {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.choices__list--dropdown .choices__item--selectable.is-highlighted {
  background-color: var(--main-color);
  color: #fff;
}

.choices[data-type*=select-one]:after {
  width: 10px;
  height: 10px; 
  z-index: 3;
  top: 40%;
  border: 1px solid #000;
  border-width: 0 0 1px 1px;
  transform: rotate(-45deg);
}

.choices[data-type*=select-one].is-open:after {
  top: 60%;
  border: 1px solid #000;
  border-width: 1px 1px 0 0;
}

.further {
  background-color: var(--main-color);
  color: #fff;
}

/* authorization.html */

.authorization {
  background-color: #fff;
}

.input_box input {
  color: var(--text-color);
  border-bottom: 2px solid #5F5E5E;
}

.input_box input:focus {
  border-color: var(--main-color);
}

.login {
  background-image: url(../img/login_purple.svg);
}

.password {
  background-image: url(../img/padlock_purple.svg);
}

.pw_hide {
  background-image: url(../img/hide_purple.svg);
}

.pw_visible {
  background-image: url(../img/visible_purple.svg);
}

.sign_up, .back {
  background-color: var(--main-color);
  color: #fff;
}

/* my-schedule-student.html */

.name-site {
  color: var(--text-color);
}

.links-li {
  color: var(--text-color);
}

.exit {
  color: var(--text-color);
}

.links-li:hover,
.exit:hover,
.links-li:focus {
  color: var(--main-color);
}

.moons {
  background-image: url(../img/moons_black.svg);
}

.moons:hover,
.moons-2:hover {
  background-image: url(../img/moons_violet.svg);
}

.link-pagination {
  color: var(--text-color);
}

.link-pagination:hover,
.link-pagination:focus {
  background-color: var(--main-color);
  color: #fff;
}

.icon[data-theme='light'] {
  display: none;
}

.icon[data-theme='dark'] {
  display: block;
}

.add,
.edit,
.delete,
.delete_all,
.edit_bell {
  color: #fff;
}

.add {
  background-color: var(--main-color);
}

.edit {
  background-color: #34319C;
}

.delete {
  background-color: rgba(116, 28, 28, 0.63);
}

.delete_all {
  background-color: #333;
}
.edit_bell
{
  background-color: #EB9710;
}
.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after
{
  background-color: var(--text-color);
}
.menu__box {
  background-color: #ECEFF1;
}
.menu__item
{
  color: #000;
}
.error
{
  color: var(--main-color);
}
.btn_sort,
.btn_sort_data
{
  color: #fff;
}
.exit_mobile
{
  color: var(--text-color);
}
h1 {
  color: var(--text-color);
}

table {
  border: 1px solid var(--text-color);
}

thead {
  background-color: var(--main-color);
  color: #fff;
}

th,
td {
  border: 1px solid var(--text-color);
}
table tr {
  border-bottom: 1px solid var(--text-color);
}
@media (width < 1000px) {

  table {
    border: 0;
  }
}
