@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --bg-color: #333;
  --text-color: #F4EFEC;
  --main-color: #618F53;
  /* Цвет кнопок, option и т.п */
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  /* overflow-x: hidden; */
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 2%;
  padding-top: 26px;
  transition: all 0.5s ease;
}

.link-main {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../img/logo_green.svg);
  width: 58.125px;
  height: 55px;
  background-repeat: no-repeat;
  background-size: cover;
}

.name-site {
  font-size: 30px;
  color: var(--text-color);
}

.links {
  display: flex;
  font-size: 24px;
  gap: 70px;
  position: relative;
}

.links-li {
  color: var(--text-color);
}

.exit {
  background: transparent;
  border: none;
  color: var(--text-color);
  cursor: pointer;
}

.links-li:hover,
.exit:hover,
.links-li:focus {
  color: var(--main-color);
}

.sun {
  display: block;
  background-image: url(../img/sun_white.svg);
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  position: absolute;
  top: -6px;
  background-size: cover;
}

.sun-2 {
  display: none;
  background-image: url(../img/sun_white.svg);
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  position: absolute;
  top: -6px;
  background-size: cover;
}

.moons {
  display: none;
  background-image: url(../img/moons_black.svg);
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  position: absolute;
  top: -6px;
  right: 12px;
  background-size: cover;
}

.moons-2 {
  display: none;
  background-image: url(../img/moons_black.svg);
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  position: absolute;
  top: -6px;
  right: 12px;
  background-size: cover;
}

.sun:hover,
.sun-2:hover {
  background-image: url(../img/sun_green.svg);
}

#menu-icon {
  font-size: 40px;
  color: var(--text-color);
  cursor: pointer;
  display: none;
}

.pagination {
  padding-top: 33px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 70%;
}

.link-pagination {
  font-size: 32px;
  color: var(--text-color);
  background: transparent;
  border: none;
  cursor: pointer;
}

.link-pagination:hover,
.link-pagination:focus {
  background-color: var(--main-color);
  border-radius: 8px;
}

.manipulations_table {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 27px;
  grid-column-gap: 15%;
  padding: 0 92px;
}

.add,
.edit,
.delete,
.delete_all {
  height: 75px;
  font-size: 32px;
  border: none;
  color: var(--text-color);
  border-radius: 10px;
  cursor: pointer;
}

.add {
  background-color: var(--main-color);
}

.edit {
  background-color: #677835;
}

.delete {
  background-color: #783535;
}

.delete_all {
  background-color: #531515;
  grid-column: 2;
  margin-top: 55px;
  grid-row: 2 / 3;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h1 {
  color: var(--text-color);
  text-align: center;
  font-size: clamp(1.25rem, 0.88rem + 1.85vw, 2.5rem);
  /*Поиграться с clamp() */
  font-weight: 400;
  padding-top: 35px;
  overflow-wrap: break-word;
}

table {
  border: 1px solid var(--text-color);
  border-collapse: collapse;
  width: 90%;
  padding: 0 10px;
  margin: 0 auto;
  white-space: nowrap;
  margin-top: 28px;
}

thead {
  background-color: var(--main-color);
}

th,
td {
  border: 1px solid var(--text-color);
  padding: 15px 59px;
  text-align: center;
  font-size: clamp(0.625rem, 0.517rem + 0.54vw, 1.25rem);
  transition: all .5s ease;

}

@media (width < 1870px) {

  th,
  td {
    padding: 13px 55px;
    transition: all .5s ease;
  }
}

@media (width < 1787px) {

  th,
  td {
    padding: 13px 50px;
    transition: all .5s ease;
  }
}

@media (width < 1686px) {

  th,
  td {
    padding: 13px 45px;
    transition: all .5s ease;
  }
}

@media (width < 1600px) {
  .logo {
    width: 50px;
    height: 50px;
    background-repeat: repeat;
  }

  .name-site {
    font-size: 25px;
    margin-top: 3px;
  }

  .links {
    font-size: 20px;
    gap: 50px;
  }

  .sun {
    width: 45px;
    height: 45px;
  }

  .moons {
    width: 45px;
    height: 45px;
    right: 7px;
  }
}

@media (width < 1585px) {

  th,
  td {
    padding: 13px 40px;
    transition: all .5s ease;
  }
}

@media (width < 1485px) {

  th,
  td {
    padding: 13px 35px;
    transition: all .5s ease;
  }
}

@media (width < 1385px) {

  th,
  td {
    padding: 13px 28px;
    transition: all .5s ease;
  }
}

@media (width < 1255px) {

  th,
  td {
    padding: 13px 25px;
    transition: all .5s ease;
  }
}

@media (width < 1180px) {

  th,
  td {
    padding: 13px 20px;
    transition: all .5s ease;
  }
}

@media (width < 1100px) {
  header {
    padding: 0 1%;
    padding-top: 20px;
    transition: .2s;
    position: relative;
  }

  #menu-icon {
    display: block;
  }

  .links {
    position: absolute;
    top: 100%;
    right: -100%;
    width: 270px;
    height: 390px;
    background-color: #545353;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transition: all .5s ease;
  }

  .links li {
    display: block;
    margin: 15px 0;
    padding: 0 10px;
    transition: all .5s ease;
  }


  .links li:first-child {
    margin-top: 20px;
  }

  .sun-2 {
    display: block;
    top: 20px;
    right: 59px;
  }

  .moons-2 {
    width: 40px;
    height: 40px;
    right: 59px;
    top: 20px;
  }

  .links.open {
    right: 2%;
  }

  table {
    display: block;
    width: 100%;
    border: none;
    padding: 0;
  }

  thead,
  tbody,
  thead th {
    display: block;
  }

  thead {
    float: left;
  }

  tbody {
    overflow-x: auto;
  }

  tbody tr {
    display: table-cell;
  }

  td {
    display: block;
  }

  td,
  th {
    box-sizing: border-box;
    overflow: hidden;
    width: 160px;
    padding: 13px 0px;
    font-size: 12px;
  }
}

@media (width < 500px) {
  .logo {
    width: 30px;
    height: 30px;
    background-repeat: repeat;
  }

  .name-site {
    font-size: 20px;
    margin-top: 3px;
  }

  #menu-icon {
    display: block;
    position: absolute;
    right: 60px;
    top: 23px;
  }

  .sun-2 {
    display: block;
    top: 25px;
    right: 105px;
    width: 35px;
    height: 35px;
  }

  .moons-2 {
    width: 30px;
    height: 30px;
    top: 25px;
    right: 105px;
  }
}