.manipulations_table {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 27px;
  grid-column-gap: 15%;
  padding: 0 92px;
}

.add,
.edit,
.delete,
.delete_all {
  height: 75px;
  font-size: 32px;
  border: none;
  color: var(--text-color);
  border-radius: 10px;
  cursor: pointer;
}

.add {
  background-color: var(--main-color);
}

.edit {
  background-color: #677835;
}

.delete {
  background-color: #783535;
}

.delete_all {
  background-color: #531515;
  grid-column: 2;
  margin-top: 55px;
  grid-row: 2 / 3;
}

@media (width < 1600px) {
  .logo {
    width: 50px;
    height: 50px;
    background-repeat: repeat;
  }

  .name-site {
    margin-top: 8px;
    margin-left: 3px;
  }

  .sun {
    width: 45px;
    height: 45px;
  }

  .moons {
    width: 45px;
    height: 45px;
    right: 0;
  }
}

@media (width < 500px) {
  .logo {
    width: 45px;
    height: 45px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .name-site {
    margin-top: 3px;
    margin-left: 3px;
  }
}