@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  list-style: none;
  text-decoration: none;

}

body {
  font-family: 'Poppins', sans-serif;
  /* background-color: var(--bg-color);
  color: var(--text-color); */
}

header {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  max-width: 94%;
  margin: 0 auto;
  padding: 0 34px;
  padding-top: 26px;
}

.link-main {
  display: flex;
  align-items: center;

}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../img/logo_green.svg);
  width: 58.125px;
  height: 55px;
  background-repeat: no-repeat;
}

.name-site {
  font-size: clamp(1.25rem, 1.055rem + 0.63vw, 1.875rem);
  color: var(--text-color);
}

.links {
  display: flex;
  font-size: clamp(1.25rem, 1.023rem + 0.36vw, 1.5rem);
  /* база 24 px */
  gap: clamp(1.875rem, -0.398rem + 3.64vw, 4.375rem);
  /*clamp(1.875rem, -0.398rem + 3.64vw, 4.375rem);*/
  position: relative;

}

.exit {
  background: transparent;
  border: none;
  cursor: pointer;
}


.sun {
  display: block;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  position: absolute;
  top: -6px;
  background-size: cover;
  z-index: 5;
}

.moons {
  display: none;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  position: absolute;
  top: -6px;
  right: 11px;
  background-size: cover;
  z-index: 5;

}

.pagination {
  padding-top: 33px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  gap: 10px;
  width: 70%;
  text-align: center;
  flex-wrap: wrap;
}

.link-pagination,
.group-pagination {
  font-size: clamp(1.25rem, 1.016rem + 0.75vw, 2rem);
  /*База 32 px*/
  background: transparent;
  border: none;
  cursor: pointer;
}

.link-pagination:hover,
.group-pagination:hover {
  border-radius: 8px;
}

.hamburger-menu-admin {
  display: block;
}

.hamburger-menu {
  display: none;
}

.exit_mobile {
  background: transparent;
  border: none;
  cursor: pointer;
  display: block;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: .25s;
  margin-left: -5px;
}

#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked+.menu__btn>span {
  transform: rotate(45deg);
}

#menu__toggle:checked+.menu__btn>span::before {
  top: 0;
  transform: rotate(0deg);
}

#menu__toggle:checked+.menu__btn>span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu__toggle:checked~.menu__box {
  right: 0 !important;
}

.menu__btn {
  position: absolute;
  top: 65px;
  right: 20px;
  width: 26px;
  height: 26px;
  padding-top: 10px;
  cursor: pointer;
  z-index: 5;
}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  transition-duration: .25s;
}

.menu__btn>span::before {
  content: '';
  top: -8px;
}

.menu__btn>span::after {
  content: '';
  top: 8px;
}

.menu__item {
  display: block;
}

.menu__item__mobile {
  display: none;
}

.menu__box {
  display: block;
  position: fixed;
  top: 0;
  right: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
  transition-duration: .25s;
  z-index: 4;
}

.menu__item,
.menu__item__mobile {
  padding: 12px 24px;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: .25s;

}

.techer {
  font-size: clamp(0.938rem, 0.547rem + 1.25vw, 2.188rem);
  /*База 35 px min 15px min 500px max 2100px*/
  background: transparent;
  border: none;
}

.techer:hover {
  color: var(--main-color);
}

.all-button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 48px;
  padding: 0 25px;
}

.responsive-table {
  display: grid;
  grid-template-columns: 7fr 2fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.students {
  width: 50%;
  grid-area: 1 / 1 / 2 / 2;
  margin-left: 38%;
}

.form_sort {
  margin-top: 28px;
  grid-area: 1 / 2 / 2 / 3;
}

.sort {
  font-size: 25px;
}


.btn_sort {
  width: 170px;
  height: 36px;
  background-color: var(--main-color);
  border: none;
  border-radius: 10px;
  font-size: 20px;
  text-align: left;
  font-weight: 400;
  cursor: pointer;
  text-align: center;
  margin: 10px 0;
}

.student_edit
{
  width: 50%;
}
.mobile_form,
.mobile_table,
.mobile {
  display: none;
}

.manipulations_table {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  row-gap: 1vw;
  column-gap: 10vw;
  margin-top: 27px;
  padding: 0 92px;
}


.button_center, .button_center_edit {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.edit_add,
.admin_add,
.update_data,
.admin_up,
.upload_file,
.btn_edit {
  height: clamp(3.125rem, 1.705rem + 2.27vw, 4.688rem);
  font-size: clamp(0.938rem, -0.028rem + 1.55vw, 2rem);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  padding: 12px 10px;
  text-align: center;
}

.form_upload_file
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.upload_file
{
  color: #fff;
  font-size: clamp(1rem, 0.086rem + 1.13vw, 1.563rem);
  text-align: center;
  /* width: 20%; */
}
.update_data {
  background-color: var(--main-color);
  color: #fff;
}

.bell, .stednt_input_edit, .teacher_edit_input {
  background-color: transparent;
  border: none;
  text-align: center;
  outline: none;
  padding-bottom: 5px;
}

.bell__table {
  width: 50%;
}
.stednt_input_edit, .teacher_edit_input
{
  width: 100%;
  border-bottom: 1px solid #545353;
}

.succes {
  display: flex;
  justify-content: center;
  align-items: center;
}

.succes-2 {
  position: fixed;
  top: 100px;
  animation: bell 5s ease;
  padding: 20px;
  border-radius: 10px;
  z-index: 100;
}

.danger {
  position: fixed;
  top: 100px;
  animation: bell 5s ease;
  padding: 20px;
  background-color: rgb(218, 39, 39);
  color: #fff;
  border-radius: 10px;
  z-index: 100;
}

@keyframes bell {
  from {
    top: 0px;
    opacity: 0;
  }

  50% {
    top: 100px;
    opacity: 1;
  }


  to {
    opacity: 0;
  }
}


.change_group {
  display: none;
}

.choices {
  display: none;
  margin: 0 auto;
  width: 339px;
}

.choices__inner {
  position: relative;
  background-color: #fff !important;
  width: 324.6px;
  /*324.6*/
  border: none;
  border-radius: 0px;
}


.choices.is-open {
  background-color: #545353;
  width: 339.56px;
  /*339.56*/
}

.choices__list {
  font-size: 20px;
}

.choices[data-type*=select-one] .choices__inner {
  padding-bottom: 0;
  border-radius: 0px;
}

.choices__list--dropdown .choices__item {
  font-size: 20px;
}

.choices__list--dropdown {
  background-color: #fff !important;
  font-size: 20px;
  border: none;
  margin-left: 0;
}

.choices__list--dropdown .choices__item--selectable {
  padding-right: 0;
  padding-left: 5px;
}

.choices__list--dropdown .choices__item {
  padding-left: 12px;
}

.choices:nth-child(2) {
  /* width: 30px;  */
  height: 30px;
}

.empty_data {
  font-size: clamp(0.938rem, 0.547rem + 1.25vw, 2.188rem);
}

/* .techer_results  > .empty_data
{
  font-size: clamp(0.938rem, 0.547rem + 1.25vw, 2.188rem);
} */
.responsive-table>.empty_data {
  margin-left: 28%;
  font-size: 25px;
  /*35p max*/
}

.td_ob {
  display: flex;
}

.choice_admin {
  padding: 0;
}


/*Первый селект*/
.choice_admin>.td_ob>.choices:first-child

/*.choice_admin > .td_ob > .choices */
  {
  display: block;
  margin: 0 auto;
  width: 205px;
  /*250*/
  height: 30px;
}

.choice_admin>.td_ob>.choices:first-child>.choices__inner {
  position: relative;
  background-color: #fff;
  width: 181px;
  /*235px*/
  height: 30px;
  border: none;
  border-radius: 0px;
  font-size: 20px;
  z-index: 1;

}

.choice_admin>.td_ob>.choices:first-child>.choices.is-open {
  background-color: #545353;

}

.choice_admin>.td_ob>.choices:first-child>.choices__list .choices__list--dropdown {
  font-size: 15px;
  width: 195.60px;
  /*180*/
  margin-left: 4.55px;

}

.choice_admin>.td_ob>.choices:first-child>.choices__list--dropdown .choices__item {
  font-size: 15px;
}

.choice_admin>.td_ob>.choices:first-child>.choices__list--dropdown {
  background-color: #fff;
  font-size: 20px;
  border: none;
  width: 195.60px;
  /*180*/
  margin-left: 5px;
  z-index: 100;
}

.choice_admin>.td_ob>.choices:first-child>.choices__list--dropdown .choices__item--selectable {
  padding-right: 0;
  padding-left: 5px;
  /* z-index: 100; */

}

.choice_admin>.td_ob>.choices:first-child>.choices__list--dropdown .choices__item {
  padding-left: 12px;
}

.choice_admin>.td_ob>.choices:first-child>.choices__inner>.choices__list--single {
  padding: 0;
}


/*Второй селект*/
.choice_admin>.td_ob>.choices:last-child {
  display: block;
  width: 60px;
}

.choice_admin>.td_ob>.choices:last-child>.choices__inner {
  position: relative;
  background-color: #fff;
  width: 50px;
  /*235px*/
  border: none;
  border-radius: 0px;
  font-size: 20px;
  text-align: left;

}

.choice_admin>.td_ob>.choices:last-child>.choices.is-open {
  background-color: #545353;
  width: 50.56px;
  /*180*/
  text-align: left;
}

.choice_admin>.td_ob>.choices:last-child>.choices__list {
  font-size: 20px;
  text-align: left;

}

.choice_admin>.td_ob>.choices:last-child>.choices__list--dropdown .choices__item {
  font-size: 20px;
}

.choice_admin>.td_ob>.choices:last-child>.choices__list--dropdown {
  background-color: #fff;
  font-size: 20px;
  width: 65px;
  border: none;
  z-index: 100;
}

.choice_admin>.td_ob>.choices:last-child>.choices__list--dropdown .choices__item--selectable {
  padding-right: 0;
  padding-left: 5px;
}

.choice_admin>.td_ob>.choices:last-child>.choices__list--dropdown .choices__item {
  padding-left: 12px;
}

.choice_admin>.td_ob>.choices:last-child>.choices__inner>.choices__list--single {
  padding: 0;
}

.table>.empty_data {
  text-align: center;
}

#schedule td {
  padding: 10px 5px;
}

.existing {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.modal-body>form>.choices, .edit>.choices {
  display: block !important;
}

.changes {
  overflow-x: auto;
  position: relative;
  margin: 0 10px;
}

.changes > .media__table tbody td:first-child,
.changes > .media__table thead th:first-child,
.changes > .changes_add tbody td:first-child,
.changes > .changes_add  thead th:first-child{
  /* padding: 0 20px; */
  position: sticky;
  /* Фиксируем столбец */
  left: 0;
  /* Прижимаем к левому краю */
  z-index: 1000;
  /* Убедитесь, что столбец выше других элементов */
  /* border-right: 2px solid #000; */
}

.input__data, .div__changes
{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.input__groop, .input__groop_edit, .input__changes
{
  width: 329px;
  height: 51.49px;
  margin-top: 10px;
  background-color: #fff;
  font-size: 20px;
  padding-left: 7.5px;
  border: none;
}
.input__groop::placeholder, .input__groop_edit::placeholder, .input__changes::placeholder
{
  font-size: 18px;
}

.input__groop:focus, .input__groop_edit:focus, .input__changes:focus, .th_changes_input:focus
{
  outline: none;
}

.none
{
  display: none;
}

.file
{
  display: flex;
  align-items: center;
  justify-content: center;
}

.file > .form-control
{
  padding-left: 5px;
  width: 90%;
  min-height: auto;
  margin: 0 auto;
}

.th_changes_input
{
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff;
  text-align: center;
}

.buttom_column
{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.add_column, .delete_column
{
  width: 200px;
  height: 40px;
  margin: 0 15px;
  font-size: 20px;
  border-radius: 10px;
  border: none;
}
.table 
{
  margin-bottom: 15px;
}

.or
{
  color: var(--text-color);
  text-align: center;
  font-size: clamp(1.25rem, 0.88rem + 1.85vw, 2.5rem);
  /*Поиграться с clamp() */
  font-weight: 400;
  padding: 15px 0;
}

.button_center_edit
{
  order: 3;
  grid-area: 2 / 1 / 2 / 3;
}

.students_file
{
  grid-area: 1 / 1 / 2 / 3;
}

.textarea_edit
{
  background-color: transparent;
  border: none;
  width: 100%;
  height: 20px;
  overflow:hidden;
  border-bottom: 1px solid #545353;
}

.textarea_edit:focus
{
  outline: none;
}

.teacher_edit_input
{
  background-color: none;

}

a 
{
  color: #000;
  text-decoration: none;
}

li {
  list-style: none;
}

h1,
h2 {
  color: var(--text-color);
  text-align: center;
  font-size: clamp(1.25rem, 0.88rem + 1.85vw, 2.5rem);
  /*Поиграться с clamp() */
  font-weight: 400;
  padding-top: 35px;
}

/* h2 {
  font-size: 30px;
} */

table {
  border-collapse: separate;
  /* Разделение границ */
  border-spacing: 0;
  /* Убираем отступы между ячейками */
  width: 90%;
  padding: 0 10px;
  margin: 0 auto;
  white-space: nowrap;
  margin-top: 28px;
  padding: 0;
}

/* thead {
  background-color: var(--main-color);
} */

th,
td {
  /* padding: 16px 80px; */
  padding: 13px 20px;
  /*clamp(0.688rem, 0.46rem + 0.36vw, 0.938rem) clamp(0.938rem, -1.563rem + 4vw, 3.688rem);*/
  text-align: center;
  font-size: clamp(0.625rem, 0.517rem + 0.54vw, 1.25rem);
}

@media (width < 1600px) {
  .logo {
    width: 50px;
    height: 50px;
    background-repeat: repeat;
  }

  .name-site {
    margin-top: 8px;
    margin-left: 3px;
  }

  .sun {
    width: 45px;
    height: 45px;
    right: 25px;
  }

  .moons {
    width: 45px;
    height: 45px;
    right: 25px;
  }

  .menu__btn {
    top: 55px;
  }
}

@media (width < 1300px) {

  .table,
  .dekstop,
  .dekstop_form,
  .all-button,
  #table_results {
    display: none;
  }

  .mobile_form,
  .mobile_table,
  .mobile,
  .change_group 
  {
    display: block;
  }

  .hamburger-menu {
    display: block;
  }

  /* .menu__btn {
    top: 45px;
  } */

  .navigation>.links li,
  .exit {
    display: none;
  }

  .navigation>.links>.ico {
    display: block;
  }

  .responsive-table {
    margin-left: 20%;
  }

  .responsive-table>.empty_data {
    margin-left: 0;
  }

  .sun {
    /* top: -15px; */
    right: 25px;
    width: 40px;
    height: 40px;
  }

  .moons {
    /* top: -20px; */
    width: 40px;
    height: 40px;
    margin-right: 25px;
  }

  .name-site {
    font-size: clamp(1rem, 0.765rem + 1.18vw, 1.5rem);
  }

  .choices {
    display: block;
    /* margin: 0 auto; */
    /* width: 339px; */
    /* z-index: 0; */
  }


  /* .choices__inner {
    position: relative;
    background-color: #fff !important;
    width: 324.6px; /*324.6
    border: none;
    border-radius: 0px;
  } */


  /* .choices.is-open {
    background-color: #545353;
    width: 339.56px; /*339.56
  } */

  .choices__list {
    font-size: 20px;
    margin-left: 0;
  }

  /* .choices[data-type*=select-one] .choices__inner {
    padding-bottom: 0;
    border-radius: 0px;
  }

  .choices__list--dropdown .choices__item {
    font-size: 20px;
  }

  .choices__list--dropdown {
    background-color: #fff !important;
    font-size: 20px;
    border: none;
    margin-left: 0 !important;
  }

  .choices__list--dropdown .choices__item--selectable {
    padding-right: 0;
    padding-left: 5px;
  }

  .choices__list--dropdown .choices__item {
    padding-left: 12px;
  }  */

  .media__table {
    border: 0;
    width: 80%;
  }

  .media__table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  .media__table tr {
    display: block;
    margin-bottom: .625em;
  }

  .media__table td {
    display: block;
    font-size: clamp(0.625rem, 0.1rem + 2.55vw, 0.8rem);
    text-align: right;
  }

  .media__table td:first-child {
    background-color: var(--main-color);
    color: #fff;
  }

  .media__table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
  }

  .media__table td:last-child {
    border-bottom: 0;
  }

  .students_result {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .responsive-table {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100%;
  }

  .students {
    margin: 0 auto;
    order: 2;
  }

  .students td {
    font-size: 19px;
  }

  .students th {
    font-size: 21px;
  }

  .form_sort {
    text-align: center;
    margin-bottom: 20px;
    order: 1;
  }

  .sort {
    text-align: center;
  }

  .pagination {
    display: none;
  }

  .moons {
    right: 0;
  }

  .menu__item__mobile {
    display: block;
    color: #000;
  }


}

@media (width < 500px) {
  header {
    padding: 0 10px;
    padding-top: 26px;
  }

  .logo {
    width: 45px;
    height: 45px;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .name-site {
    margin-top: 3px;
    margin-left: 3px;
  }

  .sun {
    top: -15px;
    right: 45px;
    width: 40px;
    height: 40px;
  }

  .moons {
    top: -15px;
    width: 40px;
    height: 40px;
    margin-right: 45px;
  }

  .sort {
    font-size: 20px;
  }

  /* 
  .choices 
  {
    width: 312px; 
  }

  .choices__inner {
    width: 297.6px;
  }

  .choices.is-open {
    width: 312.56px;
  } */

  .btn_sort {
    width: 150px;
    font-size: 17px;
  }

  .students td {
    font-size: 12px;
  }

  .students th {
    font-size: 14px;
  }

  .responsive-table>.empty_data,
  .techer_results>.empty_data {
    font-size: 20px;
  }

}
