@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


body {
  font-family: 'Poppins', sans-serif;
  height: 98vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.registration {
  position: relative;
  width: 422px;
  height: 452px;
  /* background-color: #3E3D3D; */
  border-radius: 8px;
}

.logo_and_name {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 21px;
}

.logo {
  display: block;
  width: 58.125px;
  height: 55px;
  background-repeat: no-repeat;
}

.name {
  font-size: 30px;
  font-weight: 400;
}

.text_choice {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}

.choices {
  margin: 0 auto;
  width: 339px;
}


.choices__inner {
  position: relative;
  background-color: #545353;
  border: none;
  border-radius: 0px;
}


.choices.is-open {
  background-color: #545353;
}


.choices__list .choices__list--dropdown .is-active {
  width: 20px;
}

.choices__list {
  width: 354px;
  font-size: 20px;
}

.choices__list.choices__list--dropdown {
  width: 354px;
}

.choices[data-type*=select-one] .choices__inner {
  padding-bottom: 0;
}

.choices__list--dropdown .choices__item {
  font-size: 20px;
}

.choices__list--dropdown {
  background-color: #545353;
  font-size: 20px;
  border: none;
}

.choices__list--dropdown .choices__item--selectable {
  padding-right: 0;
  padding-left: 5px;
}

.choices__list--dropdown .choices__item {
  padding-left: 12px;
}

.further {
  width: 116px;
  height: 36px;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  bottom: 17px;
  right: 12px;
  cursor: pointer;
}

@media (width < 768px) {
  .registration
  {
    width: 350px;
  }
  .choices {
    width: 300px;
    vertical-align: center;
    margin-left: 20px;
  }
  .choices__list {
    width: 315px;
  }
  .choices__list.choices__list--dropdown {
    width: 315px;
  }
}