<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Изменения</title>
  <link rel="stylesheet" href="style/my-schedule-changes.css">
  <link rel="stylesheet" href="style/normalize.min.css">
  <link rel="shortcut icon" href="img/logo-icon.svg" type="image/svg+xml">
  <link rel="stylesheet" title="theme" href="#">
</head>

<body>
  <header>
    <div class="logotip">
      <a href="#" class="link-main"><i class="logo"></i>
        <span class="name-site">Моё расписание</span></a>
    </div>
    <nav class="navigation">
      <ul class="links">
        <li><a href="#" class="links-li">Изменения</a></li>
        <li><a href="#" class="links-li">Преподаватели</a></li>
        <li><button type="submit" class="exit">Выйти</button></li>
        <li><i class="sun icon" data-theme="light"></i></li>
        <li><i class="moons icon" data-theme="dark"></i></li>
      </ul>
      <script src="script/theme.js"></script>
    </nav>
  </header>
  <main>
    <h1>Изменения в расписании на 01.12 (пятница) 2023/2024 учебного года</h1>
    <table>
      <thead>
        <tr>
          <th>Группа</th>
          <th>12</th>
          <th>13</th>
          <th>34</th>
          <th>41</th>
          <th>24</th>
          <th>46</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1) 8.00 - 8.45</td>
          <td>-</td>
          <td></td>
          <td>-</td>
          <td>-</td>
          <td>По расписанию</td>
          <td>По расписанию</td>
        </tr>
        <tr>
          <td>2) 8.55 - 9.40</td>
          <td>По расписанию</td>
          <td></td>
          <td>По расписанию</td>
          <td>-</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>3) 9.50 - 10.35</td>
          <td>ДМ(Карп)</td>
          <td></td>
          <td></td>
          <td>По расписанию</td>
          <td>История(Бл.) 2</td>
          <td></td>
        </tr>
        <tr>
          <td>4) 10.45 - 11.30</td>
          <td>ДМ(Карп)</td>
          <td>По расписанию</td>
          <td></td>
          <td></td>
          <td>История (Бл) 2</td>
          <td></td>
        </tr>
        <tr>
          <td>Обед</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>5) 12.15 - 13.00</td>
          <td>Ин-яз(Анис)/-</td>
          <td>По расписанию</td>
          <td>По расписанию</td>
          <td>По расписанию</td>
          <td>По расписанию</td>
          <td>-</td>
        </tr>
        <tr>
          <td>6) 13.10 - 13.55</td>
          <td>Русс.яз (Фед)</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>7) 14.05 - 14.50</td>
          <td></td>
          <td></td>
          <td>-</td>
          <td></td>
          <td>-</td>
          <td></td>
        </tr>
        <tr>
          <td>8) 15.00 - 15.45</td>
          <td></td>
          <td>-</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>9) 15.55 - 16.40</td>
          <td></td>
          <td>-</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>10) 16.50 - 17.35</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>11) 17.45 - 18.30</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>12) 18.40 - 19.25</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>

    <h1>Изменения в расписании на 22.11 (Среда) 2023/2024 учебного года</h1>
    <table>
      <thead>
        <tr>
          <th>Группа</th>
          <th>12</th>
          <th>13</th>
          <th>34</th>
          <th>41</th>
          <th>24</th>
          <th>46</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1) 8.00 - 8.45</td>
          <td>-</td>
          <td></td>
          <td>-</td>
          <td>-</td>
          <td>По расписанию</td>
          <td>По расписанию</td>
        </tr>
        <tr>
          <td>2) 8.55 - 9.40</td>
          <td>По расписанию</td>
          <td></td>
          <td>По расписанию</td>
          <td>-</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>3) 9.50 - 10.35</td>
          <td>ДМ(Карп)</td>
          <td></td>
          <td></td>
          <td>По расписанию</td>
          <td>История(Бл.) 2</td>
          <td></td>
        </tr>
        <tr>
          <td>4) 10.45 - 11.30</td>
          <td>ДМ(Карп)</td>
          <td>По расписанию</td>
          <td></td>
          <td></td>
          <td>История (Бл) 2</td>
          <td></td>
        </tr>
        <tr>
          <td>Обед</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>5) 12.15 - 13.00</td>
          <td>Ин-яз(Анис)/-</td>
          <td>По расписанию</td>
          <td>По расписанию</td>
          <td>По расписанию</td>
          <td>По расписанию</td>
          <td>-</td>
        </tr>
        <tr>
          <td>6) 13.10 - 13.55</td>
          <td>Русс.яз (Фед)</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>7) 14.05 - 14.50</td>
          <td></td>
          <td></td>
          <td>-</td>
          <td></td>
          <td>-</td>
          <td></td>
        </tr>
        <tr>
          <td>8) 15.00 - 15.45</td>
          <td></td>
          <td>-</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>9) 15.55 - 16.40</td>
          <td></td>
          <td>-</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>10) 16.50 - 17.35</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>11) 17.45 - 18.30</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>12) 18.40 - 19.25</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </main>
</body>

</html>