<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Студенты</title>
  <link rel="stylesheet" href="style/my-schedule-info-student.css">
  <link rel="stylesheet" href="style/normalize.min.css">
  <link rel="shortcut icon" href="img/logo-icon.svg" type="image/svg+xml">
  <link rel="stylesheet" title="theme" href="#">
</head>

<body>
  <header>
    <div class="logotip">
      <a href="#" class="link-main"><i class="logo"></i>
        <span class="name-site">Моё расписание</span></a>
    </div>
    <nav class="navigation">
      <ul class="links">
        <li><a href="#" class="links-li">Изменения</a></li>
        <li><a href="#" class="links-li">Студенты</a></li>
        <li><button type="submit" class="exit">Выйти</button></li>
        <li><i class="sun icon" data-theme="light"></i></li>
        <li><i class="moons icon" data-theme="dark"></i></li>
      </ul>
      <script src="script/theme.js"></script>
    </nav>
  </header>
  <main>
    <section>
      <span class="h1">Список студентов</span>
      <div class="pagination">
        <button class="link-pagination">11/16</button>
        <button class="link-pagination">12</button>
        <button class="link-pagination">13</button>
        <button class="link-pagination">14</button>
        <button class="link-pagination">15</button>
        <button class="link-pagination">21</button>
        <button class="link-pagination">22</button>
        <button class="link-pagination">23</button>
        <button class="link-pagination">24</button>
        <button class="link-pagination">25</button>
        <button class="link-pagination">26</button>
        <button class="link-pagination">31</button>
        <button class="link-pagination">32</button>
        <button class="link-pagination">33</button>
        <button class="link-pagination">34</button>
        <button class="link-pagination">35</button>
        <button class="link-pagination">36</button>
        <button class="link-pagination">41</button>
        <button class="link-pagination">42</button>
        <button class="link-pagination">43</button>
        <button class="link-pagination">44</button>
        <button class="link-pagination">45</button>
        <button class="link-pagination">46</button>
      </div>
    </section>
    <section>
      <table>
        <thead>
          <tr>
            <th>№</th>
            <th>ФИО Студента</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Васильев Александр Дамирович</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Герасимова Анастасия Филипповна</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Зайцева Елена Дмитриевна</td>
          </tr>
          <tr>
            <td>4</td>
            <td>Лаврентьева Анна Макаровнак</td>
          </tr>
          <tr>
            <td>5</td>
            <td>Пономарев Максим Александрович</td>
          </tr>
        </tbody>
      </table>
    </section>
  </main>
</body>

</html>