<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My-schedule</title>
  <link rel="stylesheet" href="style/my-schedule-student.css">
  <link rel="stylesheet" href="style/normalize.min.css">
  <link rel="shortcut icon" href="img/logo-icon.svg" type="image/svg+xml">
  <link rel="stylesheet" title="theme" href="#">
</head>
<!-- Адаптацию таблицы сделать так, чтобы сверху были номера групп, дальше дни недели, которые будут якорями к дням недели в таблице, расписание звонков РПК и самоое основное расписание в столбик по дням. Сделать кнопку для возвращения на самый вверх -->

<body>

  <header>
    <div class="logotip">
      <a href="#" class="link-main"><i class="logo"></i>
        <span class="name-site">Моё расписание</span></a>
    </div>
    <nav class="navigation">
      <ul class="links">
        <li><a href="my-schedule-changes.html" class="links-li">Изменения</a></li>
        <li><a href="#" class="links-li">Преподаватели</a></li>
        <li><button type="submit" class="exit">Выйти</button></li>
        <li><i class="sun icon" data-theme="light"></i></li>
        <li><i class="moons icon" data-theme="dark"></i></li>
      </ul>
      <script src="script/theme.js"></script>
    </nav>
  </header>
  <main>
    <h1>Основное расписание 35 группы</h1>
    <section>
      <table>
        <thead>
          <tr>
            <th>Раписание звонков РПК</th>
            <th>Понеделньик</th>
            <th>Вторник</th>
            <th>Среда</th>
            <th>Четверг</th>
            <th>Пятница</th>
            <th>Суббота</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1) 8.00 - 8.45</td>
            <td>БЖ(Кол)-БЖ(Фад)</td>
            <td>Практика(Викт)</td>
            <td>Станд.(Карп)</td>
            <td>Станд.(Карп)</td>
            <td>-</td>
            <td>-/Ин.яз(Горд)</td>
          </tr>
          <tr>
            <td>2) 8.55 - 9.40</td>
            <td>БЖ(Кол)-БЖ(Фад)</td>
            <td>Практика(Викт)</td>
            <td>ИС(Сог)</td>
            <td>Станд.(Карп)</td>
            <td>-</td>
            <td>-/Ин.яз(Горд)</td>
          </tr>
          <tr>
            <td>3) 9.50 - 10.35</td>
            <td>ДМ(Карп)</td>
            <td>ИС(Сог)</td>
            <td>ИС(Сог)</td>
            <td>Физра</td>
            <td>ИС(Сог)</td>
            <td>МДК 08.01(Викт)</td>
          </tr>
          <tr>
            <td>4) 10.45 - 11.30</td>
            <td>ДМ(Карп)</td>
            <td>ИС(Сог)</td>
            <td>ДМ(Карп)</td>
            <td>Физра</td>
            <td>ИС(Сог)</td>
            <td>МДК 08.01(Викт)</td>
          </tr>
          <tr>
            <td>Обед</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>Практика(Викт)</td>
          </tr>
          <tr>
            <td>5) 12.15 - 13.00</td>
            <td>Ин-яз(Анис)/-</td>
            <td>ЧМ(Карп)</td>
            <td>УП по ПМ 05</td>
            <td>МДК 08.01(Викт)</td>
            <td>УП по ПМ 05</td>
            <td>Практика(Викт)</td>
          </tr>
          <tr>
            <td>6) 13.10 - 13.55</td>
            <td>Ин-яз(Анис)/-</td>
            <td>ЧМ(Карп)</td>
            <td>УП по ПМ 05</td>
            <td>МДК 08.01(Викт)</td>
            <td>УП по ПМ 05</td>
            <td></td>
          </tr>
          <tr>
            <td>7) 14.05 - 14.50</td>
            <td></td>
            <td>УП по ПМ 05</td>
            <td>Кл. час</td>
            <td>ЧМ(Карп)</td>
            <td>УП по ПМ 05</td>
            <td></td>
          </tr>
          <tr>
            <td>8) 15.00 - 15.45</td>
            <td></td>
            <td>УП по ПМ 05</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>9) 15.55 - 16.40</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>10) 16.50 - 17.35</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>11) 17.45 - 18.30</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>12) 18.40 - 19.25</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </section>
    <section>
      <div class="pagination">
        <button class="link-pagination">11/16</button>
        <button class="link-pagination">12</button>
        <button class="link-pagination">13</button>
        <button class="link-pagination">14</button>
        <button class="link-pagination">15</button>
        <button class="link-pagination">21</button>
        <button class="link-pagination">22</button>
        <button class="link-pagination">23</button>
        <button class="link-pagination">24</button>
        <button class="link-pagination">25</button>
        <button class="link-pagination">26</button>
        <button class="link-pagination">31</button>
        <button class="link-pagination">32</button>
        <button class="link-pagination">33</button>
        <button class="link-pagination">34</button>
        <button class="link-pagination">35</button>
        <button class="link-pagination">36</button>
        <button class="link-pagination">41</button>
        <button class="link-pagination">42</button>
        <button class="link-pagination">43</button>
        <button class="link-pagination">44</button>
        <button class="link-pagination">45</button>
        <button class="link-pagination">46</button>
      </div>
    </section>
  </main>
</body>

</html>