<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style/my-schedule-info-techer.css">
  <link rel="stylesheet" href="style/normalize.min.css">
  <link rel="shortcut icon" href="img/logo-icon.svg" type="image/svg+xml">
  <link rel="stylesheet" title="theme" href="#">
  <title>Прееподаватели</title>
</head>

<body>
  <header>
    <div class="logotip">
      <a href="#" class="link-main"><i class="logo"></i>
        <span class="name-site">Моё расписание</span></a>
    </div>
    <nav class="navigation">
      <ul class="links">
        <li><a href="#" class="links-li">Изменения</a></li>
        <li><a href="#" class="links-li">Преподаватели</a></li>
        <li><button type="submit" class="exit">Выйти</button></li>
        <li><i class="sun icon" data-theme="light"></i></li>
        <li><i class="moons icon" data-theme="dark"></i></li>
      </ul>
      <script src="script/theme.js"></script>
    </nav>
  </header>
  <main>
    <h1>Информация о преподавателях</h1>
    <div class="all-button">
      <button class="techer">Преподавательский состав</button>
      <button class="techer">Преподаватели на больничном</button>
      <button class="techer">Преподаватели на сессии</button>
    </div>
    <table>
      <thead>
        <tr>
          <th>ФИО Преподавтеля</th>
          <th>Предметы</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Карпова Татьяна Юрьевна</td>
          <td>Стандартизация, Численные метода, Дискретная математика</td>
        </tr>
        <tr>
          <td>Согомонян Инна Эдуардовна</td>
          <td>МДК 05.02, База данных</td>
        </tr>
        <tr>
          <td>Фирсова Алина Сергеевна</td>
          <td>Физическая культура</td>
        </tr>
        <tr>
          <td>Анисимова Анна Владимировна</td>
          <td>Английский язык, Немецкий язык</td>
        </tr>
        <tr>
          <td>Тюрина Надежда Николаевна</td>
          <td>Математика, Физика</td>
        </tr>
      </tbody>
    </table>
  </main>
</body>

</html>